{% extends "base.html.twig" %}

{% block title %} Bibliothèque - Accueil {% endblock %}





{% block body %}
        <div class="container"> 
            <div class="jumbotron">
            <h1 class="display-4">Bienvenu dans la Bibliothèque Bibli</h1>
            <p class="lead">Vous êtes dans le paradis du livre, un livre par là, un livre par ici, un livre pour tous le monde</p>
            <hr class="my-4">
            <p>Pour en savoir plus, cliquez ici sur le boutton pour vous connecter</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
            </p>
        </div>
    </div>

    <h1>Coucou</h1> 

{% endblock %}

